/* 기본 세팅 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
}

/* 전체 영역 */
.wrap{
    width: 1440px;
    height: 1024px;
    background-color: antiquewhite;
}
/* 헤더 */
header{
    width: 100%;
    height: 180px;
    background-color: aliceblue;
}
/* 헤더 top */
.header-top{
    display: flex;
    width: 100%;
    height: 120px;
    background-color: burlywood;
}
/* 로고 */
.logo img{
    margin: 22px 28px;
    width: 230px;
    height: 75px;
}
/* 헤더 메뉴 */
.header-menu{
    background-color: aliceblue;
}
.header-menu ul{
    display: flex;
    gap: 30px;
    font-size: 22px;
    font-weight: 400;
}
/* 헤더 오른쪽 */
.header-right{
    display: flex;
}
/* 다운 버튼 */
.header-right > button{
    padding: 10px;
}